doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= `Time in ${city}`
    style.
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }
      h1 {
        margin-top: 50px;
        color: #333;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-top: 100px;
      }
      a {
        text-decoration: none;
        color: #007BFF;
        font-size: 18px;
        transition: color 0.3s ease;
      }
      a:hover {
        color: #0056b3;
      }
  body
    .container
      h1 Time in #{city}
      p The current time is #{time}
      a(href="/") Back to home
